@import url("https://fonts.googleapis.com/css?family=Roboto|Raleway|Griffy|Open+Sans:400,700");

html,
body {
  height: 100%;
}
html {
  font-size: 10px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cccccc;
  background: -moz-linear-gradient(
    top,
    #ffffff 0%,
    #ffffff 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #ffffff 0%,
    #ffffff 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}
li {
  list-style-type: none;
}
/*--------------------*/

#root {
    width: 100%;
}

.app {
  background: #ffffff;
  padding: 10.5rem 1.5rem 1.5rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
 /* box-shadow: 0 0.4rem 1.5rem DimGrey; */
  position: relative;

  min-width: 55rem;
}

.main {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: stretch;
}

.left {
    width: 75%;
}

.right {
    width: 25%;
    min-width: 55rem;
}
.header {
  background: #d8dcdc;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0.4rem 0.4rem 0 0;
  height: 9rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.filter {
  height: 3.5rem;
  width: 24rem;
  outline: none;
  border-radius: 0.5rem;
  border: white 2px solid;
  transition: border 0.5s;
  padding: 1rem;
}
.filter:focus {
  border: tomato 2px solid;
}
.filter_title {
  font-family: "Roboto";
  text-align: left;
  font-size: 2rem;
  font-weight: 400;
  color: #7b7b7b;
}
.headline {
  font-size: 5rem;
  font-weight: normal;
  font-family: "Griffy", cursive;
  text-align: center;
  color: slategray;
}
.paragraph {
  font-size: 1.8rem;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: slategray;
}
.white-text {
  color: mintcream;
}
.top-bar {
  background: slategray;
  width: 100%;
  height: 70px;
  padding: 20px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.top-bar h1 {
  font-size: 3rem;
  font-weight: normal;
  font-family: "Griffy", cursive;
  color: #ffffff;
}
.logo {
  height: 5rem;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.list-title {
  padding: 1.4rem;
  font-family: "Roboto";
  font-size: 3.2rem;
  font-weight: 400;
  text-align: center;
  color: slategray;
}
.cards-list {
  background: #eaeaea;
  height: 75vh;
  border-radius: 0.4rem;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: 0 0.2rem 0.8rem DimGrey;
}
.card-item:nth-child(even) {
  background: #ffffff;
}
.card-item:nth-child(odd) {
  background: #ffffff;
}
.card {
  padding: 2rem 2.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0 0  0.2rem DimGrey;

}
.card:hover {
  background: #ffffff;
  box-shadow: 0 0.3rem 1.0rem DimGrey;
}
.card:hover .thumb {
  box-shadow: 0 0.4rem 1.5rem DimGrey;

  /* padding-bottom: 1rem; */
}
.card:active {
  background: skyblue;
  color: white;
}
.card:active .paragraph {
  color: white;
}
.card:active .thumb {
  box-shadow: 0 0.4rem 1.5rem DimGrey;
}
.texts-box {
  padding-left: 2.8rem;
  text-decoration: none;
}
.card-title {
  font-family: "Roboto";
  text-align: left;
  font-size: 1.8rem;
  text-decoration: none;
}

.card-msg {
  font-family: "Raleway";
  font-size: 1.4rem;
  max-width: 35rem;
}
.thumb {
  height: 10rem;
  width: 10rem;
  /*border: #004141 solid 4px;*/
  border-radius: 50%;
  /*padding: 10px;*/
  background-color: #fefefe;
  transition: box-shadow 150ms, margin 150ms, padding 150ms;
}

.content-box {
  /*border:red solid 2px;*/
  border-radius: 5px;
  display: flex;
}
.profile {
    max-width: 50rem;
    position: absolute;
    top: 0;
}

.self-profile {
    padding: 1rem;

}
.self-profile-paragraph {
    background: #fefefe;
    font-family: "Roboto";
}

.self-profile  .thumb-box {
    margin: 0rem 3rem 2rem 3rem;
    width: 10rem;
    float: left;
}

@media (min-width: 1054px) {
    .self-profile-section {
        flex-direction: row;
    }
}
@media (max-width: 1054px) {
    .self-profile-section {
        flex-direction: column;
    }
}

.self-profile-section {
    display: flex;
    background: #f9f9f9;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    margin: 4rem 0 0 0;
    padding: 0rem 2rem 1rem 1rem;
}
.self-profile-block{
    background: #f9f9f9;
    margin-top: 4rem;
}
.self-profile-block .self-profile-paragraph {
 background: #f9f9f9;
}
.self-profile-block_title {
    font-weight: bold;
    font-size: 1.7rem;
    font-family: "Roboto";
    margin: 0 0 0.8rem 0rem;
}

.self-profile-block .self-profile-paragraph {
    font-size: 1.5rem;
}
.profile-box {
  padding: 1.5rem;
  padding-right: 15px;
  align-items: center;
  /*flex:1;*/
}
.grad-line {
  display: block;
  width: 100%;
  border: none;
  height: 1px;
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    200,
    from(midnightblue),
    to(Cornsilk)
  );
}
.profile-image-box {
  /*flex:1;*/
  background: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30rem;
  height: 30rem;
}
.profile-image-box img {
  border-radius: 50%;
}
.profile-details-box {
  padding: 10px;
  font-family: "Roboto";
  text-align: left;
  color: slategray;
  font-weight: 400;
}
.profile-title {
  font-size: 3.5rem;
  font-weight: inherit;
  text-align: center;
}
.profile-detail {
  font-size: 2.2rem;
  font-weight: inherit;
  color: darkslateblue;
}
.profile-description {
  font-family: "Raleway";
  font-size: 1.8rem;
  max-width: 40rem;
}
/*Generic CSS Classes*/
.cap {
  text-transform: capitalize;
}
.mb20 {
  margin-bottom: 2rem;
}
.mt20 {
  margin-top: 2rem;
}
.fz35 {
  font-size: 3.5rem;
}
.fz30 {
  font-size: 3rem;
}
.fz25 {
  font-size: 2.5rem;
}

.hbox {
  display: flex;
}
.vbox {
  display: flex;
  flex-direction: column;
}
.space-between,
.sb {
  justify-content: space-between;
}
.space-around,
.sa {
  justify-content: space-around;
}
.align-items-center,
.ai-center,
.aic {
  align-items: center;
}
.align-items-start,
.ai-start,
.ais {
  align-items: flex-start;
}
.grow-1,
.g1 {
  flex-grow: 1;
}
.text-left,
.tl {
  text-align: left;
}
.dev {
  border: fuchsia 2px dashed;
}
